@charset "UTF-8";
@font-face {
  font-family: "ConsolasBold";
  src: url("../fonts/ConsolasBold.eot");
  src: url("../fonts/ConsolasBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ConsolasBold.woff") format("woff"), url("../fonts/ConsolasBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Consolas';
  src: url("../fonts/Consolas.svg#Consolas") format("svg"), url("../fonts/Consolas.ttf") format("truetype"), url("../fonts/Consolas.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ConsolasRegular';
  src: url("../fonts/ConsolasRegular.eot");
  src: url("../fonts/ConsolasRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ConsolasRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: Consolas, Courier,monospace; }

.pg__audio--block {
  display: block;
  height: 35px;
  width: 100%;
  left: 0;
  top: 9px;
  position: absolute;
  z-index: 1;
  overflow: hidden; }

.pg__audio {
  position: absolute;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
  height: 35px;
  top: 0;
  left: -40px;
  width: 245px;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  /*
	//-- 
	background: #FFFFFF;
	z-index: 1;	
	//-- 
	*/ }

.pg__audio--content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 0; }
  .pg__audio--content a {
    outline: none !important; }

.pg__audio--left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.pg__audio--right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.pg__audio--action {
  width: 40px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.pg__audio--btn {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 40px;
  height: 35px;
  text-decoration: none;
  font-size: 14px;
  line-height: 35px;
  color: #000;
  display: block; }
  .pg__audio--btn:not(.is-pause) {
    /*
		//---
			text-indent: -99999px;
			background: url("../images/sprites/svg/icon-play.svg") no-repeat center;
			background-size: 16px 23px;		 
		//--- 
		*/ }
    .pg__audio--btn:not(.is-pause):hover {
      text-indent: -99999px;
      background: url("../images/sprites/svg/icon-play.svg") no-repeat center;
      -webkit-background-size: 16px 23px;
         -moz-background-size: 16px 23px;
              background-size: 16px 23px; }
  .pg__audio--btn.is-pause {
    text-indent: -99999px;
    background: url("../images/sprites/svg/icon-pause.svg") no-repeat center;
    -webkit-background-size: 15px 19px;
       -moz-background-size: 15px 19px;
            background-size: 15px 19px; }

body.mobile .pg__audio--btn:not(.is-pause) {
  text-indent: -99999px;
  background: url("../images/sprites/svg/icon-play.svg") no-repeat center;
  -webkit-background-size: 16px 23px;
     -moz-background-size: 16px 23px;
          background-size: 16px 23px; }

body.mobile .pg-tw-val {
  opacity: 0; }

.pg__audio-like {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 55px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px; }

.pg__audio-like--btn {
  height: 35px;
  width: 40px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  text-decoration: none;
  position: relative;
  opacity: 1;
  overflow: hidden; }
  .pg__audio-like--btn::before {
    content: "";
    position: absolute;
    left: 11px;
    top: 8px;
    display: block;
    width: 18px;
    height: 18px;
    background: url("../images/like.png") no-repeat;
    -webkit-background-size: 40px 76px !important;
       -moz-background-size: 40px 76px !important;
            background-size: 40px 76px !important; }
  .pg__audio-like--btn.pg__audio-like--plus {
    opacity: 0;
    visibility: hidden; }
    .pg__audio-like--btn.pg__audio-like--plus::before {
      background-position: 0 0; }
    .pg__audio-like--btn.pg__audio-like--plus:hover::before {
      background-position: 0 -20px; }
    .pg__audio-like--btn.pg__audio-like--plus:active::before {
      background-position: 0 -40px; }
    .pg__audio-like--btn.pg__audio-like--plus.is-active::before {
      background-position: 0 -60px !important; }
    .pg__audio-like--btn.pg__audio-like--plus.is-active.is-donate {
      background: url("../images/sprites/svg/icon-donation.svg") no-repeat center;
      -webkit-background-size: 17px 15px;
         -moz-background-size: 17px 15px;
              background-size: 17px 15px; }
      .pg__audio-like--btn.pg__audio-like--plus.is-active.is-donate::before {
        display: none; }
      .pg__audio-like--btn.pg__audio-like--plus.is-active.is-donate.donate-pay {
        background: url("../images/sprites/svg/icon-prev.svg") no-repeat center;
        -webkit-background-size: 11px 14px;
           -moz-background-size: 11px 14px;
                background-size: 11px 14px; }
  .pg__audio-like--btn.pg__audio-like--minus::before {
    background-position: -23px 0;
    top: 11px; }
  .pg__audio-like--btn.pg__audio-like--minus:hover::before {
    background-position: -23px -20px; }
  .pg__audio-like--btn.pg__audio-like--minus:active::before {
    background-position: -23px -40px; }
  .pg__audio-like--btn.pg__audio-like--minus.is-active {
    background: url("../images/sprites/svg/icon-next.svg") no-repeat center;
    -webkit-background-size: 11px 15px;
       -moz-background-size: 11px 15px;
            background-size: 11px 15px; }
    .pg__audio-like--btn.pg__audio-like--minus.is-active::before {
      display: none !important; }
  .pg__audio-like--btn.pg__audio-scan {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .pg__audio-like--btn.pg__audio-scan::before {
      display: none !important; }

.pg__audio-scan.is-active .icon-scan span {
  background: url("../images/sprites/svg/icon-scan-arrow-orange.svg") no-repeat;
  -webkit-animation: arrow-7 1s infinite;
     -moz-animation: arrow-7 1s infinite;
       -o-animation: arrow-7 1s infinite;
          animation: arrow-7 1s infinite; }
  .pg__audio-scan.is-active .icon-scan span:nth-child(2) {
    -webkit-animation-delay: -0.2s;
       -moz-animation-delay: -0.2s;
         -o-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .pg__audio-scan.is-active .icon-scan span:nth-child(3) {
    -webkit-animation-delay: -0.4s;
       -moz-animation-delay: -0.4s;
         -o-animation-delay: -0.4s;
            animation-delay: -0.4s; }

.pg__audio-scan.is-scan-pause {
  webkit-animation: rainbow 1s linear 1s infinite;
  -webkit-animation: rainbow 1s linear 1s infinite;
     -moz-animation: rainbow 1s linear 1s infinite;
       -o-animation: rainbow 1s linear 1s infinite;
          animation: rainbow 1s linear 1s infinite; }
  .pg__audio-scan.is-scan-pause span {
    background: url("../images/sprites/svg/icon-scan-arrow-orange.svg") no-repeat; }

.icon-scan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .icon-scan span {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    background: url("../images/sprites/svg/icon-scan-arrow.svg") no-repeat;
    width: 8px;
    height: 12px; }
    .icon-scan span:nth-child(2) {
      margin: 0 -5px; }

@-webkit-keyframes arrow-7 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-5px, 0);
            transform: translate(-5px, 0); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0); } }

@-moz-keyframes arrow-7 {
  0% {
    opacity: 0;
    -moz-transform: translate(-5px, 0);
         transform: translate(-5px, 0); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -moz-transform: translate(5px, 0);
         transform: translate(5px, 0); } }

@-o-keyframes arrow-7 {
  0% {
    opacity: 0;
    -o-transform: translate(-5px, 0);
       transform: translate(-5px, 0); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -o-transform: translate(5px, 0);
       transform: translate(5px, 0); } }

@keyframes arrow-7 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-5px, 0);
       -moz-transform: translate(-5px, 0);
         -o-transform: translate(-5px, 0);
            transform: translate(-5px, 0); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate(5px, 0);
       -moz-transform: translate(5px, 0);
         -o-transform: translate(5px, 0);
            transform: translate(5px, 0); } }

@-webkit-keyframes rainbow {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }

@-moz-keyframes rainbow {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }

@-o-keyframes rainbow {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }

@keyframes rainbow {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink2 {
  100% {
    color: rgba(255, 153, 0, 0); } }

@-moz-keyframes blink2 {
  100% {
    color: rgba(255, 153, 0, 0); } }

@-o-keyframes blink2 {
  100% {
    color: rgba(255, 153, 0, 0); } }

@keyframes blink2 {
  100% {
    color: rgba(255, 153, 0, 0); } }

.pg__audio-format--dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }
  .pg__audio-format--dropdown.is-show {
    display: block !important; }

.pg__audio-format {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 40px;
  position: relative;
  margin-left: 2px; }

body:not(.mobile) .pg__audio-format:hover .pg__audio-format--dropdown {
  display: block; }

.pg__audio-format--btn {
  display: block;
  width: 40px;
  height: 35px;
  text-decoration: none;
  background: url("../images/sprites/svg/icon-next-dark.svg") no-repeat center; }

.pg__audio-format--box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
  background: #FFFFFF;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.pg__audio-format--link {
  text-decoration: none;
  display: block;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 10px;
  line-height: 14px;
  color: #000000 !important;
  font-family: 'Open Sans', sans-serif !important;
  background: #f99a30; }
  .pg__audio-format--link.is-active {
    webkit-animation: rainbow 1s linear 1s infinite;
    -webkit-animation: rainbow 1s linear 1s infinite;
       -moz-animation: rainbow 1s linear 1s infinite;
         -o-animation: rainbow 1s linear 1s infinite;
            animation: rainbow 1s linear 1s infinite; }

.pg__audio--player {
  display: none !important; }

.pg__audio--visible {
  overflow: visible !important; }

.pg__audio-yt {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.pg__audio-yt--play {
  width: 40px;
  height: 35px;
  text-decoration: none;
  display: block;
  position: relative;
  background: url("../images/sprites/svg/icon-yt.svg") no-repeat center;
  -webkit-background-size: 20px 15px;
     -moz-background-size: 20px 15px;
          background-size: 20px 15px; }

.td-opacity-0 {
  opacity: 0 !important; }

.is-now-playing .pg__audio--btn:not(.is-pause), .is-scan-active .pg__audio--btn:not(.is-pause) {
  text-indent: -99999px;
  background: url("../images/sprites/svg/icon-play.svg") no-repeat center;
  -webkit-background-size: 16px 23px;
     -moz-background-size: 16px 23px;
          background-size: 16px 23px; }

.is-now-playing .pg__audio--btn.is-pause, .is-scan-active .pg__audio--btn.is-pause {
  text-indent: -99999px;
  background: url("../images/sprites/svg/icon-pause.svg") no-repeat center;
  -webkit-background-size: 15px 19px;
     -moz-background-size: 15px 19px;
          background-size: 15px 19px; }

.is-now-playing .pg-tw-val, .is-scan-active .pg-tw-val {
  opacity: 0 !important; }

.table-pg-audio {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  /*
	.tableFloatingHeaderOriginal {
		.pg__audio--block {
			display: none;
		}

		
		@media (min-width: 800px) {			
			.text-hide-audio__active {
				opacity: 1 !important;
			}

			&[style*="fixed"] {
				.pg__audio--block {
					display: block;
				}			

				.text-hide-audio__active {
					opacity: 0 !important;
				}

			}
		}

		@media (max-width: 799px) {
			.text-hide-audio__active {
				opacity: 1 !important;
			}
		}

	}
	*/ }

/*.table-pg-audio*/
.is-scan-active .text-hide-audio__active {
  opacity: 0; }

.is-hover-audio .text-hide-audio__active {
  opacity: 0 !important; }

body:not(.mobile) .pg__audio--block:hover {
  overflow: visible; }
  body:not(.mobile) .pg__audio--block:hover .pg__audio {
    background: #FFFFFF;
    width: 245px;
    z-index: 1; }
  body:not(.mobile) .pg__audio--block:hover .pg__audio-like--plus {
    visibility: visible;
    opacity: 1; }
  body:not(.mobile) .pg__audio--block:hover .pg__audio--btn:not(.is-pause) {
    text-indent: -99999px;
    background: url("../images/sprites/svg/icon-play.svg") no-repeat center;
    -webkit-background-size: 16px 23px;
       -moz-background-size: 16px 23px;
            background-size: 16px 23px; }

body.mobile .pg-td-audio .pg__audio--block, .is-scan-active .pg-td-audio .pg__audio--block {
  overflow: visible; }
  body.mobile .pg-td-audio .pg__audio--block .pg__audio, .is-scan-active .pg-td-audio .pg__audio--block .pg__audio {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    width: 245px;
    z-index: 1; }
  body.mobile .pg-td-audio .pg__audio--block .pg__audio-like--plus, .is-scan-active .pg-td-audio .pg__audio--block .pg__audio-like--plus {
    visibility: visible;
    opacity: 1; }

body.mobile .pg__audio--close, .is-scan-active .pg__audio--close {
  display: block; }

body.mobile .is-now-playing .text-hide-audio__active, body.mobile .is-hover-audio .text-hide-audio__active, .is-scan-active .is-now-playing .text-hide-audio__active, .is-scan-active .is-hover-audio .text-hide-audio__active {
  opacity: 0 !important; }

.pg__audio--close {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  display: none; }
  .pg__audio--close::before, .pg__audio--close::after {
    content: "";
    display: block;
    height: 2px;
    background: #888;
    width: 12px;
    position: absolute;
    left: 3px !important;
    top: 7px !important; }
  .pg__audio--close::before {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .pg__audio--close::after {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg); }

.pg__thead--audio .pg__audio--block {
  overflow: visible; }
  .pg__thead--audio .pg__audio--block .pg__audio {
    background: #FFFFFF;
    width: 245px;
    z-index: 1; }
  .pg__thead--audio .pg__audio--block .pg__audio-like--plus {
    visibility: visible;
    opacity: 1; }
  .pg__thead--audio .pg__audio--block .pg__audio--btn:not(.is-pause) {
    text-indent: -99999px;
    background: url("../images/sprites/svg/icon-play.svg") no-repeat center;
    -webkit-background-size: 16px 23px;
       -moz-background-size: 16px 23px;
            background-size: 16px 23px; }

.pg__tr--header th {
  border-top: 0; }

.pg__tr--progress {
  position: relative;
  z-index: 1; }
  .pg__tr--progress td {
    height: 18px !important;
    background: #d8d8d8 !important;
    padding: 0 !important;
    border: 0 !important; }

.audio__progress--container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.audio__progress--player {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 253px; }
  .audio__progress--player .pg__audio--block {
    overflow: visible;
    position: relative !important;
    top: 0 !important;
    height: 24px; }
    .audio__progress--player .pg__audio--block .pg__audio {
      background: #f2f2f2 !important;
      width: 100% !important;
      z-index: 1;
      height: 100% !important;
      left: 0 !important;
      -webkit-border-radius: 0 !important;
         -moz-border-radius: 0 !important;
              border-radius: 0 !important;
      -webkit-box-shadow: none !important;
         -moz-box-shadow: none !important;
              box-shadow: none !important; }
    .audio__progress--player .pg__audio--block .pg__audio-like--plus {
      visibility: visible;
      opacity: 1; }
    .audio__progress--player .pg__audio--block .pg__audio--btn:not(.is-pause) {
      text-indent: -99999px;
      background: url("../images/sprites/svg/icon-play.svg") no-repeat center;
      -webkit-background-size: 16px 23px;
         -moz-background-size: 16px 23px;
              background-size: 16px 23px; }
  .audio__progress--player .pg__audio-like--btn,
  .audio__progress--player .pg__audio--btn,
  .audio__progress--player .pg__audio-format--btn,
  .audio__progress--player .pg__audio-yt--play {
    height: 24px !important; }
  .audio__progress--player .pg__audio-format--box {
    background: #f2f2f2 !important; }
  .audio__progress--player .pg__audio-format--link {
    line-height: 10px !important; }
  .audio__progress--player .pg__audio-like--btn::before {
    top: 2px !important; }
  .audio__progress--player .pg__audio-like--btn.pg__audio-like--minus::before {
    top: 5px !important; }

.audio__progress {
  display: block;
  position: relative;
  min-width: 1px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 18px; }
  @media (min-width: 800px) {
    .audio__progress {
      height: 24px; } }

.audio__progress--text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 18px;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  font: 12px/18px "ConsolasBold" !important;
  color: #FFFFFF;
  padding-left: 13px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 800px) {
    .audio__progress--text {
      height: 24px;
      line-height: 24px !important; } }

/*
{
	transform: scaleX(0); увеличивается до 1
	transform: translateX(-100%); уменьшается до 0
}
*/
.audio__progress-time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 18px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  white-space: nowrap; }
  @media (min-width: 800px) {
    .audio__progress-time {
      height: 24px; } }

.audio__progress-track {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 1px;
  padding-left: 18px;
  height: 100%;
  text-align: left;
  mix-blend-mode: difference; }
  .audio__progress-track span {
    width: 100%;
    text-align: left;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    /*
		display: inline-block;
		background: linear-gradient(90deg, rgba(255,255,255,1) 0%,rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
		background-clip: text !important;
		-webkit-background-clip: text !important;
		-o-background-clip: text !important;
		-moz-background-clip: text !important;
		-webkit-text-fill-color: transparent !important; 
		-o-text-fill-color: transparent !important;  		
		*/ }

.audio__progress--bar {
  display: block;
  background: #0C91D8;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: -o-transform .3s ease;
  -moz-transition: transform .3s ease, -moz-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease, -o-transform .3s ease;
  height: 18px;
  width: 100%; }
  @media (min-width: 800px) {
    .audio__progress--bar {
      height: 24px; } }

.audio__progress-text--line {
  display: inline-block;
  margin: 0 7px; }

.header__mobile {
  display: none !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20; }
  .header__mobile div, .header__mobile span, .header__mobile a, .header__mobile ul, .header__mobile li {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    outline: none !important; }
  .header__mobile.is-active .header__mobile--right {
    display: block; }

.header__mobile-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.header__mobile-right--content {
  position: relative;
  z-index: 4;
  background: #fff; }
  .header__mobile-right--content .topmenu {
    display: block !important;
    border-bottom: 0; }

.header__mobile--left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  position: relative;
  z-index: 5; }

.header__mobile-left--burger {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.mobile__nav-btn {
  text-decoration: none !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  .mobile__nav-btn span {
    width: 24px;
    height: 3px;
    margin-bottom: 6px;
    background: #0C91D8;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    .mobile__nav-btn span:last-child {
      margin-bottom: 0; }
  .mobile__nav-btn::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../images/sprites/svg/icon-nav-close.svg") no-repeat center;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s; }
  .mobile__nav-btn.is-active::before {
    opacity: 1; }
  .mobile__nav-btn.is-active span {
    opacity: 0; }

.header__mobile-left--player {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 1px; }
  .header__mobile-left--player .pg__audio--block {
    position: relative !important;
    top: 0 !important; }
  .header__mobile-left--player .pg__audio {
    left: 0;
    position: relative !important;
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0; }
  .header__mobile-left--player .pg__audio--block {
    overflow: visible; }
    .header__mobile-left--player .pg__audio--block .pg__audio {
      background: #FFFFFF;
      width: 100%;
      z-index: 1; }
    .header__mobile-left--player .pg__audio--block .pg__audio-like--btn::before {
      width: 26px;
      height: 26px;
      top: 50%;
      left: 50%;
      margin-top: -13px;
      margin-left: -13px;
      -webkit-background-size: 60px 114px !important;
         -moz-background-size: 60px 114px !important;
              background-size: 60px 114px !important; }
    .header__mobile-left--player .pg__audio--block .pg__audio-like--btn.pg__audio-like--plus {
      visibility: visible;
      opacity: 1; }
      .header__mobile-left--player .pg__audio--block .pg__audio-like--btn.pg__audio-like--plus::before {
        background-position: 0 0; }
      .header__mobile-left--player .pg__audio--block .pg__audio-like--btn.pg__audio-like--plus:hover::before {
        background-position: 0 -30px; }
      .header__mobile-left--player .pg__audio--block .pg__audio-like--btn.pg__audio-like--plus:active::before {
        background-position: 0 -59px; }
      .header__mobile-left--player .pg__audio--block .pg__audio-like--btn.pg__audio-like--plus.is-active::before {
        background-position: 0 -88px !important; }
      .header__mobile-left--player .pg__audio--block .pg__audio-like--btn.pg__audio-like--plus.is-active.is-donate {
        background: url("../images/sprites/svg/icon-donation-xs.svg") no-repeat center;
        -webkit-background-size: 21px 18px;
           -moz-background-size: 21px 18px;
                background-size: 21px 18px; }
        .header__mobile-left--player .pg__audio--block .pg__audio-like--btn.pg__audio-like--plus.is-active.is-donate::before {
          display: none; }
        .header__mobile-left--player .pg__audio--block .pg__audio-like--btn.pg__audio-like--plus.is-active.is-donate.donate-pay {
          background: url("../images/sprites/svg/icon-prev-xs.svg") no-repeat center;
          -webkit-background-size: 13px 18px;
             -moz-background-size: 13px 18px;
                  background-size: 13px 18px; }
    .header__mobile-left--player .pg__audio--block .pg__audio-like--btn.pg__audio-like--minus::before {
      background-position: -34px 0;
      top: 50%; }
    .header__mobile-left--player .pg__audio--block .pg__audio-like--btn.pg__audio-like--minus:hover::before {
      background-position: -34px -29px; }
    .header__mobile-left--player .pg__audio--block .pg__audio-like--btn.pg__audio-like--minus:active::before {
      background-position: -34px -59px; }
    .header__mobile-left--player .pg__audio--block .pg__audio-like--btn.pg__audio-like--minus.is-active {
      background: url("../images/sprites/svg/icon-next-xs.svg") no-repeat center;
      -webkit-background-size: 13px 18px;
         -moz-background-size: 13px 18px;
              background-size: 13px 18px; }
      .header__mobile-left--player .pg__audio--block .pg__audio-like--btn.pg__audio-like--minus.is-active::before {
        display: none !important; }
    .header__mobile-left--player .pg__audio--block .pg__audio--btn:not(.is-pause) {
      text-indent: -99999px;
      background: url("../images/sprites/svg/icon-play-xs.svg") no-repeat center !important;
      -webkit-background-size: 24px 31px;
         -moz-background-size: 24px 31px;
              background-size: 24px 31px; }
    .header__mobile-left--player .pg__audio--block .pg__audio--btn.is-pause {
      background: url("../images/sprites/svg/icon-pause-xs.svg") no-repeat center !important;
      -webkit-background-size: 19px 33px;
         -moz-background-size: 19px 33px;
              background-size: 19px 33px; }
  .header__mobile-left--player .pg__audio-yt--play {
    background: url("../images/sprites/svg/icon-yt-xs.svg") no-repeat center;
    -webkit-background-size: 28px 20px;
       -moz-background-size: 28px 20px;
            background-size: 28px 20px; }
  .header__mobile-left--player .pg__audio-format--btn {
    background: url("../images/sprites/svg/icon-next-dark-xs.svg") no-repeat center; }
  .header__mobile-left--player .pg__audio-format--link {
    font-size: 12px; }
  .header__mobile-left--player .icon-scan span {
    background: url("../images/sprites/svg/icon-scan-arrow-xs.svg") no-repeat;
    width: 12px;
    height: 17px; }
    .header__mobile-left--player .icon-scan span:nth-child(2) {
      margin: 0 -7px; }
  .header__mobile-left--player .pg__audio-scan.is-active .icon-scan span {
    background: url("../images/sprites/svg/icon-scan-arrow-orange-xs.svg") no-repeat; }
  .header__mobile-left--player .pg__audio-scan.is-scan-pause span {
    background: url("../images/sprites/svg/icon-scan-arrow-orange-xs.svg") no-repeat; }

.header__mobile--right {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: relative; }

.header__mobile--close {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  z-index: 2;
  cursor: pointer; }

/* горизонтальная ориентация */
@media screen and (orientation: landscape) {
  /* стили для горизонтальной */ }

@media screen and (orientation: landscape) and (max-width: 799px) {
  .header__mobile-content {
    height: 100%; }
  .header__mobile {
    height: 100%; }
    .header__mobile.is-active {
      width: 100%; }
  .header__mobile--right {
    min-width: 1px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background: rgba(0, 0, 0, 0.5); }
  .header__mobile-right--content {
    width: 100%;
    overflow-x: auto;
    padding-left: 14px; }
  .header__mobile-left--burger {
    height: 58px;
    width: 100%;
    padding-top: 12px; }
  .header__mobile--left {
    height: 100%;
    width: 60px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: auto; }
  .wrapper__upgrade {
    padding-left: 60px; }
  .mobile__nav-btn {
    height: 46px;
    width: 100%; }
  .header__mobile-left--player {
    width: 100%; }
    .header__mobile-left--player .pg__audio--block {
      height: auto !important; }
    .header__mobile-left--player .pg__audio--content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .header__mobile-left--player .pg__audio {
      height: auto;
      display: block;
      width: 100% !important; }
    .header__mobile-left--player .pg__audio--left {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .header__mobile-left--player .pg__audio--right {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .header__mobile-left--player .pg__audio-like--btn {
      width: 100%; }
      .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--plus {
        height: 60px; }
      .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--minus {
        height: 58px; }
      .header__mobile-left--player .pg__audio-like--btn.pg__audio-scan {
        height: 49px; }
    .header__mobile-left--player .pg__audio--action {
      width: 100%; }
    .header__mobile-left--player .pg__audio--btn {
      width: 100%;
      height: 67px; }
    .header__mobile-left--player .pg__audio-format {
      margin-left: 0;
      width: 100%; }
    .header__mobile-left--player .pg__audio-format--btn {
      width: 100%;
      height: 56px; }
    .header__mobile-left--player .pg__audio-yt {
      width: 100%; }
    .header__mobile-left--player .pg__audio-yt--play {
      width: 100%;
      height: 56px; } }

@media screen and (orientation: landscape) and (max-width: 799px) and (max-height: 404px) {
  .header__mobile-left--burger {
    padding-top: 0;
    height: 46px; }
  .header__mobile-left--player .pg__audio--btn {
    height: 60px; }
  .header__mobile-left--player .pg__audio-format--btn {
    height: 50px; }
  .header__mobile-left--player .pg__audio-yt--play {
    height: 50px; } }

@media screen and (orientation: landscape) and (max-width: 799px) and (max-height: 374px) {
  .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--plus {
    height: 50px; }
  .header__mobile-left--player .pg__audio--btn {
    height: 60px; }
  .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--minus {
    height: 50px; }
  .header__mobile-left--player .pg__audio-like--btn.pg__audio-scan {
    height: 50px; }
  .header__mobile-left--player .pg__audio-format--btn {
    height: 50px; }
  .header__mobile-left--player .pg__audio-yt--play {
    height: 50px; } }

@media screen and (orientation: landscape) and (max-width: 799px) and (max-height: 359px) {
  .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--plus {
    height: 50px; }
  .header__mobile-left--player .pg__audio--btn {
    height: 50px; }
  .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--minus {
    height: 48px; }
  .header__mobile-left--player .pg__audio-like--btn.pg__audio-scan {
    height: 39px; }
  .header__mobile-left--player .pg__audio-format--btn {
    height: 40px; }
  .header__mobile-left--player .pg__audio-yt--play {
    height: 46px; } }

@media screen and (orientation: portrait) {
  /* Стили для портретной */ }

@media screen and (orientation: portrait) and (max-width: 799px) {
  .header__mobile {
    width: 100%; }
    .header__mobile.is-active {
      height: 100%; }
      .header__mobile.is-active .header__mobile--left {
        border-bottom: 1px solid #2d5caa; }
      .header__mobile.is-active .header__mobile-content {
        height: 100%; }
  .header__mobile--right {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background: rgba(0, 0, 0, 0.5);
    min-width: 1px; }
  .header__mobile-right--content {
    width: 100%;
    overflow-x: auto;
    padding-left: 14px; }
  .header__mobile-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__mobile--left {
    width: 100%;
    height: 60px; }
  .wrapper__upgrade {
    margin-top: 60px; }
  .mobile__nav-btn {
    height: 60px;
    width: 64px; }
  .header__mobile-left--player {
    width: 100%; }
    .header__mobile-left--player .pg__audio--block {
      height: 100% !important; }
    .header__mobile-left--player .pg__audio {
      height: 100%;
      display: block;
      width: 100% !important; }
    .header__mobile-left--player .pg__audio--left {
      height: 100%; }
    .header__mobile-left--player .pg__audio--right {
      height: 100%; }
    .header__mobile-left--player .pg__audio-like--btn {
      height: 100%; }
      .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--plus {
        width: 56px; }
        .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--plus::before {
          margin-top: -16px; }
      .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--minus {
        width: 55px; }
        .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--minus::before {
          margin-top: -10px; }
      .header__mobile-left--player .pg__audio-like--btn.pg__audio-scan {
        width: 62px; }
    .header__mobile-left--player .pg__audio--action {
      height: 100%;
      width: auto; }
    .header__mobile-left--player .pg__audio--btn {
      height: 100%;
      width: 61px; }
    .header__mobile-left--player .pg__audio-format {
      margin-left: 0;
      height: 100%;
      width: auto; }
    .header__mobile-left--player .pg__audio-format--btn {
      height: 100%;
      width: 49px; }
    .header__mobile-left--player .pg__audio-yt {
      height: 100%; }
    .header__mobile-left--player .pg__audio-yt--play {
      height: 100%;
      width: 64px; }
    .header__mobile-left--player .pg__audio-yt {
      margin-left: 3px; }
  .tableFloatingHeaderOriginal[style*="fixed"] {
    top: 60px !important; } }

@media screen and (orientation: portrait) and (max-width: 413px) {
  .mobile__nav-btn {
    width: 59px; }
  .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--plus {
    width: 51px; }
  .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--minus {
    width: 50px; }
  .header__mobile-left--player .pg__audio-like--btn.pg__audio-scan {
    width: 55px; }
  .header__mobile-left--player .pg__audio--btn {
    width: 56px; }
  .header__mobile-left--player .pg__audio-format--btn {
    width: 44px; }
  .header__mobile-left--player .pg__audio-yt--play {
    width: 59px; }
  .header__mobile-left--player .pg__audio-yt {
    margin-left: 0; } }

@media screen and (orientation: portrait) and (max-width: 374px) {
  .mobile__nav-btn {
    width: 59px; }
  .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--plus {
    width: 50px; }
  .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--minus {
    width: 50px; }
  .header__mobile-left--player .pg__audio-like--btn.pg__audio-scan {
    width: 50px; }
  .header__mobile-left--player .pg__audio--btn {
    width: 50px; }
  .header__mobile-left--player .pg__audio-format--btn {
    width: 45px; }
  .header__mobile-left--player .pg__audio-yt--play {
    width: 55px; } }

@media screen and (orientation: portrait) and (max-width: 359px) {
  .mobile__nav-btn {
    width: 46px; }
  .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--plus {
    width: 50px; }
  .header__mobile-left--player .pg__audio-like--btn.pg__audio-like--minus {
    width: 50px; }
  .header__mobile-left--player .pg__audio-like--btn.pg__audio-scan {
    width: 40px; }
  .header__mobile-left--player .pg__audio--btn {
    width: 45px; }
  .header__mobile-left--player .pg__audio-format--btn {
    width: 40px; }
  .header__mobile-left--player .pg__audio-yt--play {
    width: 48px; } }

@media screen and (orientation: portrait) {
  .pg__tr--progress {
    -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25); } }

/* START 1023px */
@media (max-width: 1023px) {
  body.mobile .pg-td-audio .pg__audio--block {
    overflow: visible; }
    body.mobile .pg-td-audio .pg__audio--block .pg__audio {
      background: #FFFFFF;
      -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
         -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
      width: 245px;
      z-index: 1; }
  .pg-td-audio .pg__audio--block {
    overflow: visible; }
    .pg-td-audio .pg__audio--block .pg__audio {
      background: #FFFFFF;
      -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
         -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
      width: 245px;
      z-index: 1; }
  .pg__audio--close {
    display: block; } }

/* END 1023px */
/* START 799px */
@media (max-width: 799px) {
  .header__mobile {
    display: block !important; }
  .audio__progress--player {
    display: none !important; } }

/* END 799px */
/* START 499px */
@media (max-width: 499px) {
  body.mobile .pg-td-audio .pg__audio--block .pg__audio {
    width: 180px; }
  .pg-td-audio .pg__audio--block .pg__audio {
    width: 180px; }
  .pg__audio {
    left: 0; } }

/* END 499px */
